body {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bold;
}

#searchBtn{
    text-decoration: none;
    text-emphasis: none;
    color: black;
}
#clearBtn{
    text-decoration: none;
    text-emphasis: none;
    color: black;
}

.jumbotron {
    background-color: navy;
    color: white;
    text-align: center;

}